.MyInput {
  width: 200px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgb(81, 104, 235);
  
  padding: 5px;
  font-family: "Roboto";
  font-weight: 400;
  color: 14px;
  color: rgb(73, 73, 73);
}